<mat-card>
    <mat-card-title>Owner List</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let owner of owners">
          <img mat-list-avatar src="{{owner.giphyUrl}}" alt="{{owner.name}}">
          <h3 mat-line>
            <a mat-button [routerLink]="['/owner-edit', owner.dni]">Name: {{owner.name}}</a>
          </h3>
          <h3 mat-line>
            <a mat-button [routerLink]="['/owner-edit', owner.dni]">Profession: {{owner.profession}}</a>
          </h3>
        </mat-list-item>
      </mat-list>
    </mat-card-content>

    <button mat-fab color="primary" [routerLink]="['/owner-add']">Add</button>

  </mat-card>